In [2]:
import pandas as pd

In [3]:
dfSerum = pd.read_csv("./tmp/glucose_serum.csv")
dfSerum.describe()

,Unnamed: 0,subject_id,hadm_id,stay_id,caregiver_id,itemid,value,valuenum,warning
count,9.042000e+03,9.042000e+03,9.042000e+03,9.042000e+03,59.000000,9042.0,9042.000000,9042.000000,9042.000000
mean,1.583022e+08,1.506891e+07,2.470894e+07,3.502837e+07,43384.254237,220621.0,213.015483,213.015483,0.925348
std,8.804418e+07,2.805320e+06,2.794108e+06,2.911585e+06,31420.190870,0.0,124.739956,124.739956,0.262843
min,5.189710e+05,1.001586e+07,2.002744e+07,3.000252e+07,199.000000,220621.0,0.000000,0.000000,0.000000
25%,8.923549e+07,1.286443e+07,2.221343e+07,3.249296e+07,15778.000000,220621.0,140.000000,140.000000,1.000000
50%,1.525784e+08,1.491816e+07,2.443440e+07,3.513646e+07,34417.000000,220621.0,187.000000,187.000000,1.000000
75%,2.353655e+08,1.751798e+07,2.711752e+07,3.738076e+07,71483.500000,220621.0,251.000000,251.000000,1.000000
max,3.136353e+08,1.999983e+07,2.999786e+07,3.998175e+07,98952.000000,220621.0,2440.000000,2440.000000,1.000000

In [4]:
dfStick = pd.read_csv("tmp/glucose_stick.csv")
dfStick.describe()

,Unnamed: 0,subject_id,hadm_id,stay_id,caregiver_id,itemid,value,valuenum,valueuom,warning
count,3.692800e+04,3.692800e+04,3.692800e+04,3.692800e+04,36928.000000,36928.0,36928.000000,36928.000000,0.0,36928.000000
mean,1.572450e+08,1.503504e+07,2.478446e+07,3.499045e+07,52049.651132,225664.0,194.944324,194.944324,NaN,0.021420
std,8.852419e+07,2.820450e+06,2.817329e+06,2.910483e+06,27544.139780,0.0,98.667368,98.667368,NaN,0.144782
min,5.183230e+05,1.001586e+07,2.002744e+07,3.000252e+07,52.000000,225664.0,0.000000,0.000000,NaN,0.000000
25%,8.699535e+07,1.278911e+07,2.223811e+07,3.247744e+07,28024.000000,225664.0,136.000000,136.000000,NaN,0.000000
50%,1.525708e+08,1.491816e+07,2.454182e+07,3.493510e+07,54812.000000,225664.0,178.000000,178.000000,NaN,0.000000
75%,2.353583e+08,1.751798e+07,2.718598e+07,3.743130e+07,75361.000000,225664.0,238.000000,238.000000,NaN,0.000000
max,3.136348e+08,1.999983e+07,2.999786e+07,3.998175e+07,99792.000000,225664.0,9999.000000,9999.000000,NaN,1.000000

In [5]:
dfWhole = pd.read_csv("tmp/glucose_whole_blood.csv")
dfWhole.describe()

,Unnamed: 0,subject_id,hadm_id,stay_id,caregiver_id,itemid,value,valuenum,warning
count,1.371000e+03,1.371000e+03,1.371000e+03,1.371000e+03,79.000000,1371.0,1371.000000,1371.000000,1371.000000
mean,1.442945e+08,1.462085e+07,2.465615e+07,3.507605e+07,47197.708861,226537.0,2427.294675,2427.294675,0.881109
std,9.308398e+07,2.967218e+06,2.731337e+06,2.920023e+06,27263.930870,0.0,46732.801588,46732.801588,0.323779
min,9.066450e+05,1.002324e+07,2.002744e+07,3.000252e+07,199.000000,226537.0,0.000000,0.000000,0.000000
25%,7.125062e+07,1.226904e+07,2.210404e+07,3.255806e+07,20829.000000,226537.0,146.000000,146.000000,1.000000
50%,1.161466e+08,1.375503e+07,2.457899e+07,3.570873e+07,47279.000000,226537.0,207.000000,207.000000,1.000000
75%,2.309957e+08,1.738095e+07,2.696618e+07,3.732544e+07,74197.000000,226537.0,303.000000,303.000000,1.000000
max,3.115877e+08,1.994008e+07,2.997166e+07,3.996869e+07,99023.000000,226537.0,999999.000000,999999.000000,1.000000